.bioSection {
    color: white;
    background-color: green;
    /* height: 5.5rem; */
}

.bio{    
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;    
}

.headshot
{
    position: absolute;
    top: 10%;
    left: 15%;
}