.info{
    position: absolute;
    color: white;
    top: 5%;
    left: 52.5%;
    height: 60%;
    max-height: 100%;
    max-width: 60%;
    background-color: blue;
    opacity: 60%;
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: 1fr;
    border-radius: 2.5%;
}