.info{
    position: absolute;
    color: white;
    top: 5%;
    left: 52.5%;
    /* height: 0.5rem; */
    /* width: 10.5rem; */
    background-color: black;
    opacity: 60%;
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: 1fr;
    border-radius: 2.5%;
}