.info{
    position: absolute;
    color: white;
    top: 5%;
    left: 55%;
    height: 15%;
    width: 45.5%;
    background-color: black;
    opacity: 60%;
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: 1fr;
    border-radius: 2.5%;
}