
*
{
    margin: 0%;
    padding: 0%;
}

html,
body {
    height: auto;
    width: auto;
    background-color: black;
}

main {
	padding: calc(var(--heading-height) + 1.5vw) 4em 0;
}

.bulk{
    position: relative;
    height: 100%;
}

.leva{
    display: none;
}

canvas {
    display: block;
    overflow: hidden;
    top: 0;
    left: 0;
    outline: none;
    height: 100%;
    width: 100%;
}